.margin{
    margin-left: 15px;
}
/*NAVBAR*/
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 30px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/*LOGIN*/
.gradient-custom {
    width: 100%;
    height: 100%;
    background: rgb(145,35,204);
    background: -moz-linear-gradient(90deg, rgba(145,35,204,1) 0%, rgba(58,155,227,1) 50%, rgba(145,35,204,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(145,35,204,1) 0%, rgba(58,155,227,1) 50%, rgba(145,35,204,1) 100%);
    background: linear-gradient(90deg, rgba(145,35,204,1) 0%, rgba(58,155,227,1) 50%, rgba(145,35,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9123cc",endColorstr="#9123cc",GradientType=1);
}
.login-overflow{
    overflow-y: hidden;
    overflow-x: hidden;
}
/*products*/
#products {
    padding: 16px;
    margin-left: 5rem;
    transition: margin-left 0.5s;
}
body{
    overflow-x: hidden;
}
.button-margin{
    margin-right: 10px;
}
/*INVENTORY*/
.stock{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

/*Textarea*/
.textarea-resizing {
    resize: none;
}


.cashier-container-box{
    width: 100%;
    height: 700px;
}

.cashier-item-box{
    width: 98%;
    height: 55px;
    margin-left: 0px;
}

.end-align{
    align-self: flex-end;
}

#container-button{
    display: flex;
}

/*Clear empty div space*/
.clear-space{
    display: block;
}

/*Scrollable*/
.scrollable{
    overflow: auto;
    height: 620px;
}

.bg-gray-100{
    background-color: rgb(243 244 246);
}

.gradient-custom-user {

    width: 100%;
    height: 100%;
    background: rgb(5, 119, 74);
    background: -moz-linear-gradient(90deg, rgba(5, 119, 74, 1) 0%, rgba(58, 227, 152, 1) 50%, rgba(5, 119, 74, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(5, 119, 74, 1) 0%, rgba(58, 227, 152, 1) 50%, rgba(5, 119, 74, 1) 100%);
    background: linear-gradient(90deg, rgba(5, 119, 74, 1) 0%, rgba(58, 227, 152, 1) 50%, rgba(5, 119, 74, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05774a", endColorstr="#05774a", GradientType=1);

}

.gradient-custom-product {

    width: 100%;
    height: 100%;
    background: rgb(191, 17, 108);
    background: -moz-linear-gradient(90deg, rgba(191, 17, 108, 1) 0%, rgba(246, 115, 186, 1) 50%, rgba(191, 17, 108, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(191, 17, 108, 1) 0%, rgba(246, 115, 186, 1) 50%, rgba(191, 17, 108, 1) 100%);
    background: linear-gradient(90deg, rgba(191, 17, 108, 1) 0%, rgba(246, 115, 186, 1) 50%, rgba(191, 17, 108, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bf116c", endColorstr="#bf116c", GradientType=1);

}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a1c4fd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
}

.bg-indigo {
    background-color: #4835d4;
}
@media (min-width: 992px) {
    .card-registration-2 .bg-indigo {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
@media (max-width: 991px) {
    .card-registration-2 .bg-indigo {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}